<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans 
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security   
           http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    <http auto-config="true"  lowercase-comparisons="false">
        <!-- access-denied-page="/error.jsp" 不要过滤图片等静态资源  filters="none"--> 
        
        <access-denied-handler ref="myAccessDeniedHandler"/>
        
        
        <intercept-url pattern="/**/*.jpg" filters="none" />  
        <intercept-url pattern="/**/*.png" filters="none" />  
        <intercept-url pattern="/**/*.gif" filters="none" />  
        <intercept-url pattern="/**/*.css" filters="none" />  
        <intercept-url pattern="/**/*.js" filters="none" /> 
        <!--      
        <intercept-url pattern="/admin/list.jsp"  access="ROLE_ADMIN"/>
        <intercept-url pattern="/user/list.jsp"   access="ROLE_USER"/>
        <intercept-url pattern="/test.jsp"   access="ROLE_TEST"/>-->
        
        <remember-me key="8903284949398309284932048329"/>
        
        
       
        <!-- 登陆页和忘记密码或注册等不需要过滤的页面 -->  
        <intercept-url pattern="/login.jsp" filters="none" />  
        <intercept-url pattern="/jsp/forgotpassword.jsp"  
            filters="none" />  
        <form-login login-page="/login.jsp"  
            authentication-failure-url="/login.jsp?error=true"  
            default-target-url="/index.jsp" />
        <logout logout-success-url="/login.jsp" /> 
        
        
        <session-management invalid-session-url="/sessionTimeout.jsp" />
        
        
        
        
        <custom-filter ref="myFilter" before="FILTER_SECURITY_INTERCEPTOR"/>

         
    </http> 
    <b:bean id="myFilter" class="com.clyhs.security.MyFilterSecurityInterceptor" autowire="byType">  
        <b:property name="authenticationManager" ref="authenticationManager" />  
        <b:property name="accessDecisionManager" ref="myAccessDecisionManager" />  
        <b:property name="securityMetadataSource" ref="mySecurityMetadataSource" /> 
        
    </b:bean>  
    
    <authentication-manager alias="authenticationManager">  
        <authentication-provider user-service-ref="myUserDetailService">
        <!--  
             <password-encoder hash="md5" /> -->
        </authentication-provider>  
    </authentication-manager>  
    
    <b:bean id="myUserDetailService" class="com.clyhs.service.impl.MyUserDetailsServiceImpl" >
        <b:property name="userService" ref="userService"></b:property>
    </b:bean> 
    
    <b:bean id="myAccessDecisionManager"  
        class="com.clyhs.security.MyAccessDecisionManager">  
    </b:bean>  
  
    <b:bean id="mySecurityMetadataSource" class="com.clyhs.security.MyInvocationSecurityMetadataSource">
        <b:property name="authorityService" ref="authorityService"></b:property>
    </b:bean> 
    
    <b:bean id="myAccessDeniedHandler" class="com.clyhs.security.MyAccessDeniedExceptionHandler">
        <b:property name="errorPage" value="/ss3/error.jsp"></b:property>
    </b:bean>
   
      
    
    
</b:beans>
